
@font-face {
    font-family: "NEXT ART";
    src: url(../fonts/NEXTART_Bold.woff2) format("woff2"), url(../fonts/NEXTART_Bold.woff) format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../fonts/NunitoSans_Regular.woff2) format("woff2"), url(../fonts/NunitoSans_Regular.woff) format("woff");
    font-weight: 400;
}

* {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;

}


.title {
    font-family: "NEXT ART", Arial, sans-serif;
    font-size: 32px;
    margin: 20px;
    letter-spacing: 1px;
    text-shadow: 3px 3px rgba(16, 28, 190, 0.249);
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    padding: 0 25px;
}

.form__item {
    margin: 5px 0;
}

.form__label {
    display: block;
    padding: 5px;
    font-weight: 600;
}

.used {
    display: none;
}

.errorMessage{
    color: #900;
    font-size: 14px;
    max-width: 300px;
    text-wrap: wrap;
}

.total{
    margin-bottom: 10px;
}

.paymentMethodText {
    padding: 0;
    margin: 0;
}

.reset{
	border: 1px solid #900;
    background-color: #fdd;
    cursor: pointer;
    padding: 5px 10px;
    margin: 20px;
    font-weight: 600;
}

input:valid, select:valid{
	border: 1px solid #09bb4d;
} 

input:invalid, select:invalid{
	border: 1px solid #900;
	background-color: #fdd;
}